@charset "UTF-8";
html{font-size:17.78px}
@media only screen and (min-width:360px){html{font-size:20px !important}}
@media only screen and (min-width:375px){html{font-size:20.84px !important}}
@media only screen and (min-width:414px){html{font-size:23px !important}}
@media only screen and (min-width:480px){html{font-size:26.66px !important}}
/*禁止winphone默认触摸事件*/
html{-ms-touch-action:none; background:#eeeff4}
body{color:#3f435e;font-size:0.7rem}
textarea{resize:none}
i,em{font-style:normal}
a{color:#000;text-decoration:none}
header .back{display:inline-block;width:2.2rem}
header .back img{width:0.8rem;height:0.8rem;margin-top:0.7rem}
header .back:active{background:#08af00;border-radius:0;-webkit-border-radius:0;-moz-border-radius:0}
section{margin-top:0.7rem}
.module{padding:0.7rem;overflow:hidden;clear:both}
.warp{margin:0 0.7rem}
.clearfix:after,section:after{content:" ";display:block;height:0;clear:both;visibility:hidden}
.cl{clear:both}
.tl-r{text-align:right}
.mt5{margin-top:0.7rem}
.mt10{margin-top:1rem}
.no-mt{margin-top:0 !important}
.list-block{margin:0}
.content-block-title{color:#3f435e;margin:1rem 0.7rem 0.5rem}
/*表单*/
::-webkit-input-placeholder{color:#d3d9e5}
:-moz-placeholder{color:#d3d9e5}
::-moz-placeholder{color:#d3d9e5}
:-ms-input-placeholder{color:#d3d9e5}
input:focus::-webkit-input-placeholder{color:#d3d9e5}
input::-webkit-input-speech-button{display:none}
.btn-dark{background:#3f435e;border-color:#3f435e;color:#fff;border-radius:1.25rem}
.btn-light{background:#d3d9e5;border-color:#3f435e;color:#3f435e;border-radius:1.25rem}
.list-block input[type="text"],
.list-block input[type="password"],
.list-block input[type="search"],
.list-block input[type="email"],
.list-block input[type="tel"],
.list-block input[type="url"],
.list-block input[type="date"],
.list-block input[type="datetime-local"],
.list-block input[type="time"],
.list-block input[type="number"],
.list-block select,
.list-block textarea{padding:0 0 0 0.25rem;height:2.15rem;color:#000;font-size:0.8rem;font-family:inherit;resize:none}
/*发布表单*/
.form-group{position:relative;display:block;padding:1px 15px;margin:10px 0}
.form-group .input-label{display:block;font-size:0.7rem;color:#3f435e;padding:0}
.form-control{width:100%;background-color:#fff;border:1px solid #3f435e;border-radius:5px;height:40px;line-height:24px;padding:8px}
textarea.form-control{height:auto;line-height:normal}
.form-control:focus{border-color:#666}
.radio-group{padding:15px}
.radio-group label{font-size:0.7rem;margin-right:20px}
.radio-group label input{margin-right:5px}
/*标题栏*/
.bar .title{color:#21212d;}
.bar.bar-me{background:url(../../images/crowdFunding/pic.jpg) no-repeat 0 0; background-size:100%}
.bar.bar-me:after{background:none}
.bar.bar-me .title{color:#fff}
.bar.bar-list{background-image:-moz-linear-gradient( -14deg, rgb(62,67,96) 0%, rgb(177,185,206) 100%);
  background-image:-webkit-linear-gradient( -14deg, rgb(62,67,96) 0%, rgb(177,185,206) 100%);
  background-image:-ms-linear-gradient( -14deg, rgb(62,67,96) 0%, rgb(177,185,206) 100%)}
.bar.bar-list:after{background:none}
.bar.bar-list .title{color:#fff}
.bar.bar-list .pull-left{color:#fff}
.i-menu{display:inline-block;width:2.2rem;height:2.2rem;background:url(../../images/crowdFunding/icon-menu.png) no-repeat center center; background-size:50%}
.i-search{display:inline-block;width:2.2rem;height:2.2rem;background:url(../../images/crowdFunding/icon-search.png) no-repeat center center; background-size:50%}
.i-edit{display:inline-block;width:2.2rem;height:2.2rem;background:url(../../images/crowdFunding/icon-edit.png) no-repeat center center; background-size:50%}
/*我的*/
.me-bg{height:15rem;background:url(../../images/crowdFunding/pic.jpg) no-repeat 0 -2.2rem;background-size:100%}
.me-info{padding-top:2.5rem;font-size:0.8rem;text-align:center;color:#fff}
.me-info .head{width:5.5rem;height:5.5rem; border-radius:5.5rem;margin:0 auto;position:relative}
.me-info .head img{width:100%}
.me-info .head .flag{ position:absolute;top:0px;right:0;width:1.5rem;height:1.5rem;line-height:1.5rem;border-radius:50%; background:#3f435e;color:#fff;font-size:0.4rem}
.me-info .name{margin-top:0.7rem}
.me-info .tel{display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;margin:0.7rem 1rem}
.i-left,.i-right{display:inline-block;width:0.5rem}
.i-left img,.i-right img{width:100%}
.me-list .item-title{color:#a4a8b7;font-size:0.7rem}
/*众筹list*/
.banner{height:12rem; overflow:hidden}
.banner img{width:100%}
.zc-list .item{margin:1rem 0.7rem}
.zc-list .item-box{background:#fff;border-radius:0.3rem;box-shadow:0 0 15px 3px rgba(0,0,0,0.2)}
.zc-list .item-box .zc-img{height:10rem; overflow:hidden}
.zc-list .item-box .zc-img img{width:100%;height:100%;border-radius:0.3rem 0.3rem 0 0;}
.zc-list .item-box .zc-text{padding:0.8rem 0.7rem}
.zc-list .item-box .zc-name{font-size:1rem}
.zc-list .item-box .zc-name .tag{float:left;display:block;margin-top:4px;background:#40445f;color:#fff;font-size:0.7rem;padding:0 2px}
.zc-list .item-box .zc-info{
	display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
	margin:0.5rem 0
	}
.zc-list .item-box .i-time{ vertical-align:middle; display:inline-block;width:1rem;height:1rem;background:url(../../images/crowdFunding/icon-time.png) no-repeat center center;background-size:contain}
.zc-list .item-box .i-address{vertical-align:middle;display:inline-block;width:1rem;height:1rem;background:url(../../images/crowdFunding/icon-address.png) no-repeat center center;background-size:contain}
.zc-list .item-box .price,
.zc-list .item-box .num{color:#c7c7c7;font-size:0.6rem}
.zc-list .item-box .zc-link{text-align:right;margin-top:0.6rem}
.zc-list .item-box .zc-link a{color:#747b95}
.zc-list .item-box .zc-progress .progress{
    height:14px;
    overflow: hidden;
    background-color: #d3d9e5;
    border-radius:7px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.zc-list .item-box .zc-progress .progress-bar{
	float: left;
    width: 0;
    height: 100%;
    line-height:14px;
    color: #fff;
    text-align: center;
    background-color: #747b95;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;}

/*众筹详情*/
.details .item-box{background:#fff}
.details .item-box .zc-img{height:10rem;overflow:hidden}
.details .item-box .zc-img img{width:100%;height:100%}
.details .item-box .zc-text{padding:0.8rem 0.7rem}
.details .item-box .zc-name{font-size:1rem}
.details .item-box .zc-name .tag{float:left;display:block;margin-top:4px;background:#40445f;color:#fff;font-size:0.7rem;padding:0 2px}
.details .item-box .zc-info{
	display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
	margin:0.5rem 0
	}
.details .item-box .i-time{ vertical-align:middle; display:inline-block;width:1rem;height:1rem;background:url(../../images/crowdFunding/icon-time.png) no-repeat center center;background-size:contain}
.details .item-box .i-address{vertical-align:middle;display:inline-block;width:1rem;height:1rem;background:url(../../images/crowdFunding/icon-address.png) no-repeat center center;background-size:contain}
.details .item-box .price,
.details .item-box .num{color:#c7c7c7;font-size:0.6rem}
.dashed-line{ border-bottom:1px dashed #3f435e}
.details .item-box .zc-link{text-align:right;margin-top:0.6rem}
.details .item-box .zc-link a{color:#747b95}
.details .item-box .zc-progress .progress{
    height:14px;
    overflow: hidden;
    background-color: #d3d9e5;
    border-radius:7px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.details .cb{margin-bottom:0.7rem}
.details .cb .col-50{background:#d3d9e5; text-align:center}
.details .item-box .zc-progress .progress-bar{
	float: left;
    width: 0;
    height: 100%;
    line-height:14px;
    color: #fff;
    text-align: center;
    background-color: #747b95;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;}
.details-tab {padding:0 0.7rem; background:#ebecef}
.details-tab .button,.details-tab .button:first-child,.details-tab .button:last-child{margin:0.7rem 5px;border-radius:0;border:1px solid #3f435e;color:#3f435e;font-size:0.8rem}
.details-tab .button.active{background:#747b95;color:#fff}
.details-content img{max-width:100%}
.details-content p{line-height:1.5;font-size:0.8rem}
.signup{display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content:center;
    justify-content:center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;}
.signup .button{top:inherit; display:inline-block; background:#40445f;margin-right:10px}
.signup .cost{color:#f38f36;font-size:0.8rem}




